<html>

<head>
    <%- include('partials/header1.ejs') %>
</head>
<body>
    <%- include('partials/navbar1.ejs') %>

        <div class="container">
            <h2>Auckland</h2>
            <img class="img2" src="public/images/auckland.jpg" alt="Auckland">
            <p>Auckland has many <a href="beaches">beaches</a></p>
            <p style="color:#23086f">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minimveniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex eacommodo consequat. Duis aute irure dolor in
                reprehenderit in voluptatevelit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecatcupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim idest laborum.
            </p>
        </div>

</body>

</html>