<html>

<head>
    <%- include('partials/header1.ejs') %>
</head>

<body>
    <%- include('partials/navbar2.ejs') %>
    
        <h2 style="color:red">Members only page.</h2>
    
        <p style="color:#00f">
            Welcome to the members only page. You are now logged in.
        </p>
        <p style="color:#7fae5d">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmodtempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minimveniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex eacommodo consequat. Duis aute irure dolor in
            reprehenderit in voluptatevelit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecatcupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim idest laborum.
        </p>

</body>

</html>